[Desktop Entry]
Categories=Qt;KDE;
Comment=
Exec=elisa %U
GenericName=Programming Binding Generator
GenericName[ca]=Generador de vincles de programació
GenericName[ca@valencia]=Generador de vincles de programació
GenericName[de]=Generator für Programm-Bindungen
GenericName[en_GB]=Programming Binding Generator
GenericName[es]=Generador de vínculos de programación
GenericName[et]=Programmeerimise seoste generaator
GenericName[gl]=Xerador de API de programación
GenericName[it]=Generatore di binding di programmazione
GenericName[ko]=프로그래밍 바인딩 생성기
GenericName[nl]=Binding Generator voor programmeren
GenericName[pl]=Tworzenie dowiązań programistycznych
GenericName[pt]=Gerador de Interfaces de Programação
GenericName[pt_BR]=Gerador de interfaces de programação
GenericName[sk]=Programovací generátor väzieb
GenericName[sv]=Programmerar bindningsgenerator
GenericName[uk]=Засіб створення програмних прив'язок
GenericName[x-test]=xxProgramming Binding Generatorxx
GenericName[zh_TW]=程式 Binding 產生器
Icon=applications-development
Name=Rust Qt Binding Generator
Name[ca]=Generador de vincles pel Rust a les Qt
Name[ca@valencia]=Generador de vincles pel Rust a les Qt
Name[de]=Rust Qt Binding Generator
Name[en_GB]=Rust Qt Binding Generator
Name[es]=Generador de vínculos de Rust para Qt
Name[et]=Rusti Qt seoste genereerija
Name[gl]=Xerador de API de Qt para Rust
Name[it]=Generatore di binding Rust per Qt
Name[ko]=Rust Qt 바인딩 생성기
Name[nl]=Rust Qt Binding Generator
Name[pl]=Tworzenie powiązań Qt Rust
Name[pt]=Gerador de Interfaces de Qt em Rust
Name[pt_BR]=Gerador de interfaces Qt para Rust
Name[sk]=Generátor väzieb Rust Qt
Name[sv]=Rust Qt-bindningsgenerator
Name[uk]=Засіб створення прив'язок Qt до Rust
Name[x-test]=xxRust Qt Binding Generatorxx
Name[zh_TW]=Rust Qt Binding 產生器
StartupNotify=false
Terminal=true
Type=Application
MimeType=text/x-rust
