[Desktop Entry]
Categories=Qt;KDE;
Comment=
Exec=elisa %U
GenericName=Programming Binding Generator
GenericName[ca]=Generador de vincles de programació
GenericName[ca@valencia]=Generador de vincles de programació
GenericName[es]=Generador de vínculos de programación
GenericName[nl]=Binding Generator voor programmeren
GenericName[pt]=Gerador de Interfaces de Programação
GenericName[pt_BR]=Gerador de interfaces de programação
GenericName[sk]=Programovací generátor väzieb
GenericName[sv]=Programmerar bindningsgenerator
GenericName[uk]=Засіб створення програмних прив'язок
GenericName[x-test]=xxProgramming Binding Generatorxx
Icon=applications-development
Name=Rust Qt Binding Generator
Name[ca]=Generador de vincles pel Rust a les Qt
Name[ca@valencia]=Generador de vincles pel Rust a les Qt
Name[es]=Generador de vínculos de Rust para Qt
Name[nl]=Rust Qt Binding Generator
Name[pt]=Gerador de Interfaces de Qt em Rust
Name[pt_BR]=Gerador de interfaces Qt para Rust
Name[sk]=Generátor väzieb Rust Qt
Name[sv]=Rust Qt-bindningsgenerator
Name[uk]=Засіб створення прив'язок Qt до Rust
Name[x-test]=xxRust Qt Binding Generatorxx
Name[zh_TW]=Rust Qt Binding 產生器
StartupNotify=false
Terminal=true
Type=Application
MimeType=text/x-rust
