[Desktop Entry]
Categories=Qt;KDE;
Comment=
Exec=rust_qt_binding_generatorelisa %U
GenericName=Programming Binding Generator
GenericName[ca]=Generador de vincles de programació
GenericName[ca@valencia]=Generador de vincles de programació
GenericName[de]=Generator für Programm-Bindungen
GenericName[en_GB]=Programming Binding Generator
GenericName[eo]=Programbindaĵa Generilo
GenericName[es]=Generador de vínculos de programación
GenericName[et]=Programmeerimise seoste generaator
GenericName[fr]=Générateur de liens de programmation
GenericName[gl]=Xerador de API de programación
GenericName[it]=Generatore di binding di programmazione
GenericName[ka]=პროგრამირების მიბმების გენერატორი
GenericName[ko]=프로그래밍 바인딩 생성기
GenericName[nl]=Binding Generator voor programmeren
GenericName[nn]=Generator for programmerings­bindingar
GenericName[pl]=Tworzenie dowiązań programistycznych
GenericName[pt]=Gerador de Interfaces de Programação
GenericName[pt_BR]=Gerador de interfaces de programação
GenericName[ru]=Создание привязок
GenericName[sk]=Programovací generátor väzieb
GenericName[sl]=Programming Binding Generator
GenericName[sv]=Programmerar bindningsgenerator
GenericName[tr]=Programlama Bağıntısı Oluşturucu
GenericName[uk]=Засіб створення програмних прив'язок
GenericName[x-test]=xxProgramming Binding Generatorxx
GenericName[zh_TW]=程式 Binding 產生器
Icon=applications-development
Name=Rust Qt Binding Generator
Name[ca]=Generador de vincles per al Rust a les Qt
Name[ca@valencia]=Generador de vincles per a Rust a les Qt
Name[de]=Rust Qt Binding Generator
Name[en_GB]=Rust Qt Binding Generator
Name[eo]=Rust Qt-bindaĵa Generilo
Name[es]=Generador de vínculos de Rust para Qt
Name[et]=Rusti Qt seoste genereerija
Name[fr]=Générateur de liens « Rust » Qt
Name[gl]=Xerador de API de Qt para Rust
Name[it]=Generatore di binding Rust per Qt
Name[ka]=Rust Qt მიბმის გენერატორი
Name[ko]=Rust Qt 바인딩 생성기
Name[nl]=Rust Qt Binding Generator
Name[nn]=Generator for Rust–Qt-bindingar
Name[pl]=Tworzenie powiązań Qt Rust
Name[pt]=Gerador de Interfaces de Qt em Rust
Name[pt_BR]=Gerador de interfaces Qt para Rust
Name[ru]=Создание привязок Qt для Rust
Name[sk]=Generátor väzieb Rust Qt
Name[sl]=Rust Qt Binding Generator
Name[sv]=Rust Qt-bindningsgenerator
Name[tr]=Rust Qt Bağıntı Oluşturucu
Name[uk]=Засіб створення прив'язок Qt до Rust
Name[x-test]=xxRust Qt Binding Generatorxx
Name[zh_TW]=Rust Qt Binding 產生器
StartupNotify=false
Terminal=true
Type=Application
MimeType=text/x-rust
